*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding-left: 10px;
    
}

.logo {
    color: white;
}

.side-bar {
    padding: 20px;
    width: 200px;
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.box-flex {
    display: flex;
}

header {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #080B12;
    filter: opacity(90%);
}

main {
    background-color: #080B12;
}


li {
    color: white;
    list-style-type:none;
    padding: 10px;
}

.btn {
    color: white;
}

.main-container {
    margin-left: 200px;
}

.box-container {
    width: calc(100% / 6 - 20px) ;
    margin-right: 10px;
}

.box {
    width: 100%;
    height: 150px;
    background-color: red;
    margin: 10px;
}

.description {
    color: white;
}

.section-name{
    color: white;
}