* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.upper-content {
    background-color: purple;
    height: calc(100vh - 100px);
    overflow-y: auto;
    position: relative;
}

.side-bar {
    background-color: lightgreen;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
}

main {
    height: 100%;
    margin-left: 200px;
    background-color: lightgray;
    overflow-y: auto;
}

header {
position: sticky;
top: 0;
height: 80px;
background-color: bisque;
}

footer {
    height: 100px;
    background-color: black;
}